body,html {
    color: white;
    background: black;
    font-size: large;
}
div {
    color: white;
    background: black;
}
.pict {
    display: block;
    margin: auto;
    width: auto;
    height: 100%
}

.carousel-inner {
    min-height: 100%;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5{
    font-size: 1.4em;
}
